<h1>Change Your Password</h1>
<%= form_for @user, url: password_reset_path(@user.password_reset_token), html: { method: :patch } do |form| %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <br />

  <%= form.label :password_confirmation, "Confirm Password" %>
  <%= form.password_field :password_confirmation %>

  <br />

  <%= submit_tag "Change Password" %>
<% end %>
