Hi <%= @user.first_name %>,

We received a request to reset your password. If you did not ask for a password reset,
you can ignore this message.

If you do wish to continue, you can reset your password here:

<%= edit_password_reset_url(@user.password_reset_token) %>
