<p>Hi <%= @user.first_name %>,</p>

<p>We received a request to reset your password. If you did not ask for a password reset,
you can ignore this message.</p>

<p>If you do wish to continue, you can reset your password here:</p>

<p><%= link_to edit_password_reset_url(@user.password_reset_token),
               edit_password_reset_url(@user.password_reset_token) %></p>
